%h1 Hacking Halo API

%ul#resultList

:javascript
  $(function() {
    $.getJSON('/metadata/campaign-missions.json')
      .done(function(results) {

        var $list = $('#resultList');

        $.each(results, function(index, item) {
          $list.append(

          '<h2> Mission Name: ' + JSON.stringify(item,['name']) + 
            '<span class="small"> (' + JSON.stringify(item,['missionNumber']) + ')' +
          '</h2>' +
          '<p> Mission Description:' + JSON.stringify(item,['description']) + '</p>' +
          '<img src="' + JSON.stringify(item,['imageUrl']) + '"/>');
        });

      })
      .fail(function() {
        window.alert("error");
      });
  });
